service: notification

plugins:
  - serverless-offline

provider:
  name: aws
  runtime: nodejs16.x
  stage: production
functions:
  main:
    handler: dist/main.handler
    events:
      - http:
          method: ANY
          path: /
      - http:
          method: ANY
          path: '{proxy+}'
  package:
    exclude:
      - ./**
    include:
      - dist/**
      - node_modules/**
