name: server
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/server
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Check Formatting
        run: npm run prettier
      - name: Check Linting
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - uses: actions/upload-artifact@v2
        with:
          name: server
          path: packages/server/dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/server
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: server
          path: packages/server/dist
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm ci
