name: server
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/server
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Check Formatting
        run: npm run prettier
      - name: Check Linting
        run: npm run lint
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - uses: actions/upload-artifact@v3
        with:
          name: server
          path: |
            packages/server/dist
            packages/server/package.json
            packages/server/package-lock.json

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: server
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Zip
        run: zip -j deploy.zip .
      - name: Deploy
        uses: appleboy/lambda-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ secrets.AWS_REGION }}
          zip_file: deploy.zip
          function_name: notification-service
          handler_name: main
          memory_size: 128
          runtime: nodejs16.x
          description: Notification Service
          dry_run: github.ref != 'refs/heads/main'
